.button {
  justify-content: center;
  font-size: 1.1rem !important;
  align-items: center;
  padding: 0.5rem !important;
  height: auto !important;
  &.is-input-addon {
    height: 50px !important;
  }
  &.is_create {
    height: 52px !important;
  }
  &.is-medium {
    font-size: 0.8rem !important;
    padding: 0.35rem !important;
  }
  &.is-small {
    font-size: 0.6rem !important;
    padding: 0.25rem !important;
  }
}
